<div class="row">
  <div class="col-md-3">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search by Category
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li ng-click="categorySearch = ''"><a>Show All</a></li>
        <li ng-repeat="category in categories" ng-click="categoryFilter(category)"><a>{{category | titlecase}}</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <form class="form-horizontal">
    <fieldset>
      
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-3 control-label" for="search">Search by name:</label>  
      <div class="col-md-9">
      <input id="search" name="search" type="text" class="form-control input-md" ng-model="search">
      </div>
    </div>
    
    </fieldset>
    </form>
  </div>
  
  <div class="col-md-3">
    <a href="#/checkout">
      <button type="button" 
              class="btn btn-primary pull-right"
              >Checkout | <span ng-pluralize count="shoppingCartCount" when="{'0': 'Bag: Empty!', '1': 'Bag: {{shoppingCartCount}}', 'other': 'Bag: {{shoppingCartCount}}'}"></span>
      </button>
    </a>
  </div>

</div>
